/* Basic Styles */
* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: Estedad, sans-serif;
}
body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
/* Basic Styles For Buttons */
#btnWhite,
#btnDark {
  width: 50%;
  height: 100%;
  transition: 0.3s all;
  font-size: 40px;
  font-weight: bolder;
}
/* Custom Styles For Buttons */
#btnWhite {
  background-color: white;
  color: #222;
}
#btnDark {
  background-color: #222;
  color: white;
}
/* Button Title Styles */
#btnWhite > h2,
#btnDark > h2 {
  margin-top: 40px;
}
/* Button Percentage Styles */
#btnWhite > span,
#btnDark > span {
  transition: none;
  display: inline-block;
}
/* Buttons Hover Effect */
.active#btnWhite:hover,
.active#btnDark:hover {
  cursor: pointer;
  font-size: 50px;
}
/* Next Vote Button */
#btnNext {
  font-size: 25px;
  position: fixed;
  top: 90%;
  left: calc(50% - 75px);
  width: 150px;
  height: 60px;
  cursor: alias;
  background-color: rgb(255, 255, 255);
  color: black;
  mix-blend-mode: difference;
}

/* Responsive */
@media screen and (max-width: 1320px) {
  body {
    flex-direction: column;
  }
  #btnWhite,
  #btnDark {
    width: 100% !important;
    height: 50%;
    font-size: 30px;
  }
  .active#btnWhite:hover,
  .active#btnDark:hover {
    font-size: 40px;
  }
  #btnNext {
    top: calc(50% - 35px);
    transition: 0.3s all;
    /* right: 0%; */
  }
}
