* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: Estedad, sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

#btnWhite, #btnDark {
  width: 50%;
  height: 100%;
  font-size: 40px;
  font-weight: bolder;
  transition: all 0.3s;
}

#btnWhite:hover, #btnDark:hover {
  cursor: pointer;
  font-size: 50px;
}

#btnWhite {
  background-color: white;
  color: #222;
}

#btnDark {
  background-color: #222;
  color: white;
}